@import "colors"
@import "sizes"
@import "mixins"

@import "compass"
@import "bootstrap"
@import "bootstrap-responsive"
@import "bourbon"
@import url(http://fonts.googleapis.com/css?family=Righteous)


h2, h3, h4
  color: $red
  text-align: center

h1
  font-family: 'Righteous'
  text-align: center

.alert
  &.alert-info
    h1, h2, h3, h4
      color: $infoText
  &.alert-warning
    h1, h2, h3, h4
      color: $warningText

.callout-font
  font-family: 'Righteous'
.callout-size
  font-size: 1.2em
.callout-color
  color: $red

.callout-primary
  @extend .callout-font
  @extend .callout-size
  @extend .callout-color

.callout-secondary
  @extend .callout-font

a
  &.primary
    @include colored-link($red)

.btn-warning
  @include linear-gradient(top, lighten($warningText, 5%), $warningText)
  &:hover, &:active, &.active
    @include linear-gradient(top, darken($warningText, 5%), darken($warningText, 5%))

.btn-info
  @include linear-gradient(top, lighten($infoText, 5%), $infoText)
  &:hover, &:active, &.active
    @include linear-gradient(top, darken($infoText, 5%), darken($infoText, 5%))

.btn-primary, .btn-force-primary .btn-info, .btn-force-primary .btn-warning
  @include linear-gradient(top, lighten($button_primary_bg, 5%), $button_primary_bg)
  &:hover, &:active, &.active
    @include linear-gradient(top, darken($button_primary_bg, 5%), darken($button_primary_bg, 5%))

.hero-unit
  background-color: $offWhite
  border: 1px solid $red
  text-align: center

  h3
    color: $red

  #mc-embedded-subscribe-form .btn
    @extend .btn-primary

.images
  width: 100%
  text-align: center
  margin: $paddingLarge

  img
    border: 2px solid $red
    width: 35%
    margin: $paddingSmall

.header
  text-align: left
  padding-top: 10px

  h1
    padding: 0
    margin: 0
    margin-left: -99999px

  .logo
    margin-top: 5px
    display: block

  .info
    padding: 0 $paddingLarge
    width: 200px
    margin: -5px auto 0 auto

  .social
    margin-bottom: -15px
    margin-top: 25px

    a, a:link, a:hover, a:visited
      color: $red
      font-size: $fontSizeHuge

    li
      @include border-radius(50%)

      width: 26px
      height: 30px

      text-align: center
      padding: 5px 5px 0
      margin:  0 10px

.breadcrumb
  background-color: $offWhite

.navbar
  background-color: $navbarBackground
  color: $offWhite
  text-align: center
  height: $navbarHeight
  padding: $paddingLarge
  margin-top: 10px

  #subscribe-info
    @include linear-gradient(top, $green, $green)

  #mc-embedded-subscribe-form
    margin: 0
    float: right
    padding: $paddingSmall
    background-color: $green

    input[type=submit]
      margin-top: 0px

  // for responsive nav
  .nav
    background-color: $navbarBackground

  p
    margin: 0

.lead
  text-align: center

.sidebar
  text-align: center

  .label
    margin: $paddingLarge
    padding: $paddingLarge
    text-align: center

  .btn
    margin: $paddingLarge

  .details
    margin: $paddingLarge
    width: 90%
    border: 1px solid $sidebar_border

    strong
      background-color: $sidebar_header_bg
      text-transform: uppercase
      color: $sidebar_header_color
      margin-bottom: 10px
      display: block
      padding: $paddingMini
      text-align: center
      @include linear-gradient(top, lighten($warningText, 5%), $warningText)

    .detail
      padding: $paddingSmall
      font-size: $fontSizeSmall
      text-align: left

#main
  header
    text-align: center

.index
  h3
    color: $textColor

.change_world
  position: absolute
  margin: 26px 0 0 70px
  color: $grayLight
  p
    margin: -44px 0 0 24px
  &:before
    content: ""
    font-size: $baseFontSize * 4


// Nav active states

@each $page in about, register, schedule, sponsor, speakers
  .#{$page}
    #nav-#{$page}
      @extend .active

footer
  margin-top: 50px
  padding: $paddingSmall
  color: $grayLight
  ul.nav, li
    margin: 0
    padding: 0
  p
    font-size: $fontSizeSmall
    padding-left: 5px
    text-transform: uppercase

.index_mailchimp h2
  color: $darkGray

.sponsor_list
  img
    max-height: 300px
    max-width: 300px
  li
    margin-right: 50px
    &:last-child
      margin-right: 0

@import "application/*"

.blog 
  .sidebar 
    .details 
      ul
        list-style-type: none
        padding: 2px 10px
        list-style-type: none
        margin-left: 0
