- wrap_layout :base_layout do
  - wrap_layout :sub_main_layout do
    = yield

  - wrap_layout :sub_sidebar_layout do
    %h4 Stay tuned for 2014 updates!

    .details.what
      %strong what
      .detail
        %p
          Write/Speak/Code is a 3-day action-oriented conference 
          for women developers.
    .details.when
      %strong when
      .detail
        %p
          Spring 2014
        %p
          Join our mailing list for updates on 2014!
        = partial 'mailchimp'
    .details.why
      %strong Why
      .detail
        %p
          Empowering ourselves and each other to become thought leaders, 
          conference speakers, and open source contributors.
