.index
  .details.why
    display: none

  .day_icon
    float: none
    position: static
    margin: 0 auto 20px auto
    background-color: $green

    & + p
      margin-left: 0

  .day_list
    text-align: center

    li
      vertical-align: top

      @media only screen and (min-width: 768px)
        width: 30%

.platinum_sponsors.main_sponsors
  text-align: center
  margin-top: 50px
  color: $gray

  h4, h3, h2, h1
    color: $gray

  ul
    margin-bottom: 20px

  .day_icon
    background-color: $grayLighter
    font-size: 30px
    width: 40px
    height: 40px
    position: static
