.sponsor
  .accordion-heading
    font-size: $fontSizeLarge

  #sponsor_1000_header
    a, a:visited, a:active, a:hover
      color: $green

  #sponsor_1000
    em
      color: $green
      font-weight: bold

  #sponsor_2500_header
    a, a:visited, a:active, a:hover
      color: $yellow

  #sponsor_2500
    em
      color: $yellow
      font-weight: bold

  #sponsor_5000_header
    a, a:visited, a:active, a:hover
      color: $red

  #sponsor_5000
    em
      color: $red
      font-weight: bold

