.sponsor
  .sponsors
    margin: $paddingLarge

    a, a:hover, a:visited, a:active
      color: $textColor
      text-decoration: underline

  .platinum_sponsors
    min-height: 100px
    height: auto

    .description
      margin-left: 300px

  .gold_sponsors
    .description
      margin-left: 230px

  .silver_sponsors
    min-height: 260px
    height: auto

    .description
      min-height: 150px
      height: auto
      margin-left: 180px

    img
      max-height: 150px


  p.description
    margin-bottom: 20px
  img
    float: left
    padding-right: 15px

  .accordion-heading
    font-size: $fontSizeLarge

  #sponsor_1000_header
    a, a:visited, a:active, a:hover
      color: $green

  #sponsor_1000
    em
      color: $green
      font-weight: bold

  #sponsor_2500_header
    a, a:visited, a:active, a:hover
      color: $yellow

  #sponsor_2500
    em
      color: $yellow
      font-weight: bold

  #sponsor_5000_header
    a, a:visited, a:active, a:hover
      color: $red

  #sponsor_5000
    em
      color: $red
      font-weight: bold

