---
title: Sponsor Write/Speak/Code
---

.lead
  Write/Speak/Code is made possible by our generous sponsors.

%h1 Platinum sponsors

.sponsors.platinum_sponsors
  .well
    %a{:href => "http://mailchimp.com", target: '_blank'}
      %img{:src => "/images/mailchimp-400.png"}/
    %p.description
      %a{:href => "http://mailchimp.com", target: '_blank'}
        %strong MailChimp
      helps you design email newsletters, share them on social networks, integrate with services you already use, and track your results. It's like your own personal publishing platform.

.sponsors.silver_sponsors
  %h2 Gold sponsor
  %a{:href => "https://www.isecpartners.com/", target: '_blank'}
    %img{:src => "/images/isecpartners-logo-210.jpg"}/
  %p.description
    %a{:href => "https://www.isecpartners.com/", target: '_blank'}
      %strong iSEC Partners
    is an expert full-service information security firm. Our security assessments leverage our extensive knowledge of current security vulnerabilities, penetration techniques and software development best practices to enable customers to secure their applications against ever-present threats on the Internet. Primary emphasis is placed upon helping software developers build safe, reliable code. We also provide extensive research in many information security areas such as; application attack & defense, web services, operating system security, privacy, storage network security and malicious application analysis. iSEC Partners has been part of information assurance company, NCC Group plc, since October 2010.

  %h3 Silver sponsors
  %a{:href => "http://casecommons.org", target: '_blank'}
    %img{:src => "/images/casecommons-150.jpg"}/
  %p.description
    %a{:href => "http://casecommons.org", target: '_blank'}
      %strong Case Commons
    is at the front of a new movement to harness cutting-edge technology to better serve our nation's most vulnerable children and families. We work with agile developers, designers, product managers, caseworkers, and policymakers to develop an innovative tool for better data, better decision-making, and better results for families.

  %a{:href => "http://www.chariotsolutions.com"}
  %img{:src => "/images/chariot-solutions-150.jpg"}/
%p.description
  %a{:href => "https://www.chariotsolutions.com/"}
    %strong Chariot Solutions
  is software development consulting firm. We build and integrate the critical software and mobile applications that run our clients’ businesses. Our consultants are leaders in Java, open source and emerging technologies. We solve hard problems with a practical approach centered on communication, common sense and continual learning.

%p.description
  &nbsp;

  %a{:href => "http://www.github.com"}
  %img{:src => "/images/Octocat-logo-150.jpg"}/
%p.description
  %a{:href => "https://www.github.com/"}
    %strong GitHub
  is the best way to build software together. Whether it's your company's app, your favorite open source library, or a weekend side project, GitHub helps everyone work better by providing tools for easier collaboration and code sharing on any device. Start collaborating today—open source project hosting is free!

%p.description
  &nbsp;

  %a{:href => "http://howaboutwe.com"}
  %img{:src => "/images/howaboutwe-logo-150.jpg"}/
%p.description
  %strong HowAboutWe
  helps people fall in love and stay in love. If you're single, we make it easy to meet awesome new people in the real world. If you're in a relationship, we give you wonderful ways to be together — just the two of you. Learn more at
  %a{:href => "http://howaboutwe.com"} howaboutwe.com

%p.description
  &nbsp;
%p.description
  &nbsp;

  %a{:href => "http://meetup.com", target: '_blank'}
    %img{:src => "/images/meetup-150.jpg"}/
  %p.description
    %a{:href => "http://meetup.com", target: '_blank'}
      %strong Meetup
    believes people can change the world by organizing into groups powerful enough to make a difference. With well over half of our 14 million members being women (and most engineering teams comprised predominantly of men), we're taking an active role in supporting Women in Tech.
    %a{:href => "http://meetup.com", target: '_blank'} Come join us.

%p.sponsors
  %strong Join these companies
  in supporting Write/Speak/Code, which reaches highly motivated and engaged
  women developers in New York and across the country.
  %a{ href: 'mailto: sponsor@writespeakcode.com' } Email Chrys Wu
  to learn more about sponsoring this unique event.


%hr

%h4 Write/Speak/Code sponsorship levels

#sponsor_levels.inline.accordian
  .accordian-group
    #sponsor_1000_header.accordion-heading
      %a.accordion-toggle{ :"data-toggle" => "collapse",  :"data-parent" => "#sponsor_levels", href: "#sponsor_1000" }
        %i.icon-star
        %strong Silver ($1,000) Sponsorship
        %i.icon-arrow-right
    #sponsor_1000.accordion-body.collapse
      .accordion-inner
        %em Pre-Conference Benefits
        %ul
          %li Sponsor designation in emails
          %li
            Logo, company name, link & 50-word description on the
            %a{ :href => "http://writespeakcode.com" } WriteSpeakCode website
            sponsor page (description subject to WriteSpeakCode organizer approval)
          %li
            Mentioned by
            %a{:href => "http://twitter.com/writespeakcode"} @WriteSpeakCode
            1x per week in the weeks leading up to the June 20-22, 2013 conference
        %em During Conference Benefits
        %ul
          %li Logo on on-site sponsor slide (projected all day, each day during the conference)
          %li Mentioned by @Twitter name at start of day, each day (1x total per day, 3x total)
  .accordian-group
    #sponsor_2500_header.accordion-heading
      %a.accordion-toggle{ :"data-toggle" => "collapse",  :"data-parent" => "#sponsor_levels", href: "#sponsor_2500" }
        %i.icon-star
        %strong Gold ($2,500) Sponsorship
        %i.icon-arrow-right
    #sponsor_2500.accordion-body.collapse
      .accordion-inner
        %em Pre-Conference Benefits
        %ul
          %li Sponsor designation in emails
          %li 1 advertising (offer or discount) opportunity in email
          %li
            Logo, company name, link on front page, and same + 100-word description on the
            %a{:href => "http://writespeakcode.com"} WriteSpeakCode website
            sponsor page (description subject to WriteSpeakCode organizer approval)
          %li
            Mentioned by
            %a{:href => "http://twitter.com/writespeakcode"} @WriteSpeakCode
            3x per week in the weeks leading up to the June 20-22, 2013 conference
        %em During Conference Benefits
        %ul
          %li Logo on on-site sponsor slide (projected all day, each day during the conference)
          %li Mentioned on @WriteSpeakCode by your @Twitter name at start, lunchtime & end of day, each day (3x total per day, 9x total)
          %li Placement of promotional items at the event
        %em Post-Conference Benefits
        %ul
          %li Personalized message to Write.Speak.Code attendees included in wrap-up email (Up to 200 words)
  .accordian-group
    #sponsor_5000_header.accordion-heading
      %a.accordion-toggle{ :"data-toggle" => "collapse",  :"data-parent" => "#sponsor_levels", href: "#sponsor_5000" }
        %i.icon-star
        %strong Platinum ($5,000) Sponsorship
        %i.icon-arrow-right
    #sponsor_5000.accordion-body.collapse
      .accordion-inner
        %em Pre-Conference Benefits
        %ul
          %li Sponsor designation in emails
          %li 1 advertising (offer or discount) opportunity in email
          %li
            Logo, company name, link on front page, and same + 150-word description on the
            %a{:href => "http://writespeakcode.com"} WriteSpeakCode website
            sponsor page (description subject to WriteSpeakCode organizer approval)
          %li
            Logo included on
            %a{:href => "http://twitter.com/writespeakcode"} @WriteSpeakCode
            Twitter page background
          %li
            Mentioned by
            %a{:href => "http://twitter.com/writespeakcode"} @WriteSpeakCode
            5x per week in the weeks leading up to the June 20-22, 2013 conference
        %em During Conference Benefits
        %ul
          %li Logo on on-site sponsor slide (projected all day, each day during the conference)
          %li Mentioned on @WriteSpeakCode by your @Twitter name at Start, lunchtime & end of day, each day (3x total per day, 9x total)
          %li Placement of promotional items at the event
          %li 10-minute sponsored talk during 1 lunch (Subject to approval by Write.Speak.Code)
        %em Post-Conference Benefits
        %ul
          %li Personalized message to Write.Speak.Code attendees included in wrap-up email (Up to 200 words)
          %li Opportunity to host or collaborate on an end-of-event party

Interested in other sponsorship levels? Email
%a{:href => "mailto:sponsor@writespeakcode.com"} Chrys Wu
at
%a{:href => "mailto:sponsor@writespeakcode.com"}sponsor@writespeakcode.com.