.row-fluid
  %footer.span12
    %ul.nav.inline
      %li
        %a{ href: '/code-of-conduct.html' }
          Code of Conduct
      %li.divider /
      %li
        = link_to "Volunteer", '/volunteer.html'
      %li.divider /
      %li
        = link_to "Who we are", '/about/organizers.html'
      %li.divider /
      %li
        &copy; Rebecca Miller-Webster
      %li
        %i.icon-heart
        Logo design by 
        McKenna Lowry
        and
        Maryanne Ko

%script{ src: "http://code.jquery.com/jquery.js" }
= javascript_include_tag  "application"
