.ruby_central
  %h4
    %i.icon-star
    = link_to  'Ruby Central','http://www.rubycentral.org', target: '_blank'
    is sponsoring a women Rubyist!
    = succeed '!' do
      = link_to 'Apply now', 'http://bit.ly/119XAvM'
    %i.icon-star
  %em Scholarship includes ticket and up to $500 in travel expenses. Deadline is 6/4.
