%header.hero-unit.index
  %h1 Ladies &mdash; are you ready to level up?
  %h2 Conferences, events, &amp; awesomeness for women developers.

  .lead
    Building blueprints, action plans, and concrete next steps
    %br 
    Empowering ourselves, each other, and the next generation
    %br 
    %em Becoming Thought Leaders, Conference Speakers, and Open Source Contributors.

  %h3
    &lt; Own Your Expertise / Workshop &gt; takes over Chicago Jan 2015!
  %p
    %a.btn.btn-primary.btn-large{ href: '/workshop-chi.html' }
      FREE Full-day Chicago Workshop
      %i.icon-double-angle-right

  %hr

  .alert.alert-warning
    %h3
      Save the Date! 
    %h4
      The Write/Speak/Code 3-day conference will be held March 19, 20 and 21 at Pace University in
      New York City.
    %p
      Join our mailing to be the first to know when tickets are on sale.
      = partial 'mailchimp'
