%header.hero-unit.index
  %h1 Ladies &mdash; are you ready to level up?
  %h2 Conferences, events, &amp; awesomeness for women developers.

  .lead
    Building blueprints, action plans, and concrete next steps
    %br 
    Empowering ourselves, each other, and the next generation
    %br 
    %em Becoming Thought Leaders, Conference Speakers, and Open Source Contributors.

  %h3
    Write/Speak/Code comes to New York, San Francisco, &amp; Chicago in 2014!
  %p
    %a.btn.btn-primary.btn-large{ href: '/workshop.html' }
      FREE Full-day Intensive Workshop
      %i.icon-double-angle-right

  %ul.inline
    %li
      %a.pull-left{ href: '/postpone.html' }
        Write/Speak/Code 2014 &amp; 2015 Plans
        %i.icon-double-angle-right
    %li
      %a.pull-left{ href: '/2013/' }
        Write/Speak/Code 2013 schedule &amp; details
        %i.icon-double-angle-right

