%header.hero-unit.index
  %h1 Ladies &mdash; are you ready to level up?
  %h2 Conferences, events, &amp; awesomeness for women developers.

  .lead
    Building blueprints, action plans, and concrete next steps
    %br 
    Empowering ourselves, each other, and the next generation
    %br 
    %em Becoming Thought Leaders, Conference Speakers, and Open Source Contributors.

  %h3
    Write/Speak/Code National Conference tickets on sale Jan 14th!
  %p
    %a.btn.btn-primary.btn-large{ href: '/sponsor.html' }
      Sponsor
      %i.icon-double-angle-right
    %a.btn.btn-info.btn-large{ href: 'https://docs.google.com/forms/d/1kl6GhFdTTdujIWC7kYwoBIqdtdjd4y0AvX0SVGjw860/viewform' }
      Nominate a Speaker
      %i.icon-double-angle-right
    %a.btn.btn-info.btn-large{ href: '/about.html' }
      Learn more
      %i.icon-double-angle-right
