
%header.hero-unit
  %h3
    The action-oriented, professional development conference
    %br
    %em for women developers by women developers.

  .lead
    Empowering ourselves and each other to become
    %br
    thought leaders, conference speakers, &amp; open source contributors.

  .index_mailchimp
    %p
      %strong
        Tickets are on sale!
        %br
        %a.btn.btn-large.btn-primary{ href: 'https://ti.to/rmw/writespeakcode-2014' }
          Buy tickets
    %p
      Submit a talk proposal or apply to be part of a panel!
      %br
      %a.btn.btn-info{ href: 'http://bitly.com/wsc-cfp-14' }
        Call for proposals and panelists

  %ul.inline
    %li
      %a.pull-left{ href: '/blog/' }
        Our Blog
        %i.icon-double-angle-right
    %li
      %a.pull-left{ href: 'http://2013.writespeakcode.com' }
        2013 Conference
        %i.icon-double-angle-right
