%header.hero-unit.index
  %h1 Ladies &mdash; are you ready to level up?
  %h2 Conferences, events, &amp; awesomeness for women developers.

  .lead
    Building blueprints, action plans, and concrete next steps
    %br 
    Empowering ourselves, each other, and the next generation
    %br 
    %em Becoming Thought Leaders, Conference Speakers, and Open Source Contributors.

  %h3
    Write/Speak/Code National Conference tickets on sale NOW!
  %p
    %a.btn.btn-primary.btn-large{ href: 'https://guestlistapp.com/events/306111' }
      Register NOW!
      %i.icon-double-angle-right
  %p
    %a.btn.btn-info{ href: '/sponsor.html' }
      Sponsor
      %i.icon-double-angle-right
    %a.btn.btn-info{ href: '/about.html' }
      Learn more
      %i.icon-double-angle-right
