.alert.alert-error.center
  %h1 Write/Speak/Code 2014 is postponed.
  %h3 There will be a 1 day workshop in September/October
  %h3 The full 3-day conference will be back with a vengence spring of 2015.
  %ul.inline
    %li
      %a.pull-left{ href: '#postpone' }
        Read more
        %i.icon-double-angle-right
    %li.pull-right
      = partial 'mailchimp'
    %li
      %a.pull-left{ href: 'mailto:info@writespeakcode.com' }
        Email us
        %i.icon-double-angle-right

.postpone.lead
  %a{ name: 'postpone' }
  %p
    Write/Speak/Code 2014 is being postponed.
    Instead of a 3-day event in August, we’ll run a
    %strong 1-day workshop in October/September 2014,
    and come back full-force with the
    %strong 3-day conference in Spring 2015.

  %p
    With just over a month left until the scheduled Write/Speak/Code 3-day
    conference, we are off track of our goals, and we’d simply rather do this
    right than fudge it. We’re deeply sorry to have to postpone, and grateful
    for all of the incredible support we’ve received in building Write/Speak/Code
    up from just an idea last year.

  %p
    Our goal for this fall’s 1-day workshop will be to see our newly developed
    Write Day curriculum in action, and to give participants an action plan for 
    thought leadership, conference speaking, and open source contribution. After
    that, Write/Speak/Code will come back full speed ahead in Spring 2015 in NYC.


%header.hero-unit
  %h3
    3 day conference for women developers
    %br
    %em Are you ready to level up?

  .lead
    Join us to get ready to represent as a
    %br
    %em
      Thought Leader, Conference Speaker &amp; Open Source Contributor.

  .index_mailchimp
    %p
      Join our mailing list for details of the 2014 1-day workshop and the 2015 
      3-day conference.
    = partial 'mailchimp'

  %ul.inline
    %li
      %a.pull-left{ href: '/blog/' }
        Our Blog
        %i.icon-double-angle-right
    %li
      %a.pull-left{ href: '/2013/' }
        2013 Conference
        %i.icon-double-angle-right
