---
title: Register for Write/Speak/Code
---
.hero-unit
  %h3 Registration has begun!


  %a.btn.btn-large.btn-primary{ href: 'http://writespeakcode.ticketleap.com/writespeakcode/', target: '_blank' }
    %i.icon-ticket
    Register
    %i.icon-arrow-right
  
%p 
  Tickets are $211 ($200 + $11 fee) for all 3 days including lunch.
  %br
  %b
    Questions? 
    %a{ href: 'mailto:info@writespeakcode.com' } Email us at info@writespeakcode.com
%p
  %small 
    We do not have scholarships available at this time.  
    Depending on sponsorship, we are hoping to offer them. 
    However, it is possible the event will sell out before we are able to do so.
