---
title: Schedule for Write/Speak/Code
---

.lead
  .alert.alert-info
    We are finalizing the schedule now. Stay tuned!

  %a.btn.btn-large.btn-primary{ href: 'http://writespeakcode.ticketleap.com/writespeakcode/', target: '_blank' }
    %i.icon-ticket
    Register now!
    %i.icon-arrow-right
