---
title: Sponsor Write/Speak/Code
---

.lead
  Write/Speak/Code is made possible by our generous sponsors.

%h1 Platinum sponsors

.sponsors.platinum_sponsors
  .well
    %a{:href => "http://mailchimp.com", target: '_blank'}
      %img{:src => "/images/mailchimp-300.png"}/
    %p.description
      %a{:href => "http://mailchimp.com", target: '_blank'}
        %strong MailChimp
      helps you design email newsletters, share them on social networks, integrate with services you already use, and track your results. It's like your own personal publishing platform.

  .well
    %a{:href => "http://pivotallabs.com", target: '_blank'}
      %img{:src => "/images/pivotal-300.png"}/
    %p.description
      %a{:href => "http://pivotallabs.com", target: '_blank'}
        %strong Pivotal Labs
      is at the forefront of modern software development having built some of the world’s most effective and innovative business platforms. We provide expertise in design, development and product management to deliver applications and enterprise systems that perform reliably, scale easily and adapt quickly to changing demands. We partner with technical teams ranging in experience from the newly minted to the seasoned; together we’ve launched hundreds of web and mobile products and built complex enterprise infrastructures.
      %p.description Our highly-disciplined agile practice revolves around communication, collaboration, transparency, and a relentless focus on customer and business needs. At Pivotal, we don’t just build products, we help transform your ideas into software, your code into solutions, and your aspiration into application.

  .well
    %a{:href => "http://spotify.com", target: '_blank'}
      %img{:src => "/images/spotify-300.png"}/
    %p.description
      With
      %a{:href => "http://spotify.com", target: '_blank'}
        %strong Spotify,
      it’s easy to find the right music for every moment – on your phone, your computer, your tablet and more.
      %p.description There are millions of tracks on Spotify. So whether you’re working out, partying or relaxing, the right music is always at your fingertips. Choose what you want to listen to, or let Spotify surprise you.
      %p.description You can also browse through the music collections of friends, artists and celebrities, or create a radio station and just sit back.
      %p.description Soundtrack your life with Spotify. Subscribe or listen for free.

  .well
    %a{:href => "http://thoughtworks.com", target: '_blank'}
      %img{:src => "/images/thoughtworks-300.jpg"}/
    %p.description
      %a{:href => "http://thoughtworks.com", target: '_blank'}
        %strong ThoughtWorks
      is a software company and community of passionate individuals whose purpose is to revolutionize software design, creation and delivery, while advocating for positive social change. Our clients are people and organizations with ambitious missions; we deliver disruptive thinking and technology to empower them to succeed. In our 20th year, over 2300 ThoughtWorks employees — ‘ThoughtWorkers’ — are currently serving clients from offices in Australia, Brazil, Canada, China, Germany, India, Singapore, South Africa, Uganda, the U.K., and the U.S.



.sponsors.gold_sponsors
  %h2 Gold sponsor
  %a{:href => "https://www.isecpartners.com/", target: '_blank'}
    %img{:src => "/images/isecpartners-logo-210.jpg"}/
  %p.description
    %a{:href => "https://www.isecpartners.com/", target: '_blank'}
      %strong iSEC Partners
    is an expert full-service information security firm. Our security assessments leverage our extensive knowledge of current security vulnerabilities, penetration techniques and software development best practices to enable customers to secure their applications against ever-present threats on the Internet. Primary emphasis is placed upon helping software developers build safe, reliable code. We also provide extensive research in many information security areas such as; application attack & defense, web services, operating system security, privacy, storage network security and malicious application analysis. iSEC Partners has been part of information assurance company, NCC Group plc, since October 2010.

.sponsors.silver_sponsors
  %h3 Silver sponsors
  %a{:href => "http://10gen.com", target: '_blank'}
    %img{:src => "/images/10gen-150.png"}/
  %p.description
    %a{:href => "http://10gen.org", target: '_blank'}
      %strong 10gen
    is the company behind MongoDB, the leading NoSQL database. MongoDB is reinventing data management and powering big data. Designed for how we build and run applications today, MongoDB empowers organizations to be more agile and scalable. It enables new types of applications, better customer experience, faster time to market and lower costs.


  %a{:href => "http://casecommons.org", target: '_blank'}
    %img{:src => "/images/casecommons-150.jpg"}/
  %p.description
    %a{:href => "http://casecommons.org", target: '_blank'}
      %strong Case Commons
    is at the front of a new movement to harness cutting-edge technology to better serve our nation's most vulnerable children and families. We work with agile developers, designers, product managers, caseworkers, and policymakers to develop an innovative tool for better data, better decision-making, and better results for families.

  %a{:href => "http://www.chariotsolutions.com"}
    %img{:src => "/images/chariot-solutions-150.jpg"}/
  %p.description
    %a{:href => "https://www.chariotsolutions.com/"}
      %strong Chariot Solutions
    is software development consulting firm. We build and integrate the critical software and mobile applications that run our clients’ businesses. Our consultants are leaders in Java, open source and emerging technologies. We solve hard problems with a practical approach centered on communication, common sense and continual learning.

  %a{:href => "http://www.github.com"}
    %img{:src => "/images/Octocat-logo-150.jpg"}/
  %p.description
    %a{:href => "https://www.github.com/"}
      %strong GitHub
    is the best way to build software together. Whether it's your company's app, your favorite open source library, or a weekend side project, GitHub helps everyone work better by providing tools for easier collaboration and code sharing on any device. Start collaborating today—open source project hosting is free!

  %a{:href => "http://howaboutwe.com"}
    %img{:src => "/images/howaboutwe-logo-150.jpg"}/
  %p.description
    %a{:href => "http://howaboutwe.com"}
      %strong HowAboutWe
    helps people fall in love and stay in love. If you're single, we make it easy to meet awesome new people in the real world. If you're in a relationship, we give you wonderful ways to be together — just the two of you. Learn more at
    %a{:href => "http://howaboutwe.com"} howaboutwe.com

  %a{:href => "http://mediaradar.com", target: '_blank'}
    %img{:src => "/images/mediaradar-150.jpg"}/
  %p.description
    %a{:href => "http://mediaradar.com", target: '_blank'}
      %strong MediaRadar
    is a Web-based advertising intelligence service that helps websites, magazines, and newspapers dramatically improve ad sales and provides comprehensive competitive intelligence to marketers. The company provides detailed analysis on over 1.3 million brands, with advertising, editorial, and social media insights from more than 7,000 media brands.

  %a{:href => "http://meetup.com", target: '_blank'}
    %img{:src => "/images/meetup-150.jpg"}/
  %p.description
    %a{:href => "http://meetup.com", target: '_blank'}
      %strong Meetup
    believes people can change the world by organizing into groups powerful enough to make a difference. With well over half of our 14 million members being women (and most engineering teams comprised predominantly of men), we're taking an active role in supporting Women in Tech.
    %a{:href => "http://meetup.com", target: '_blank'} Come join us.
