---
title: Sponsor Write/Speak/Code
---

.lead
  Write/Speak/Code is a unique oppurtunity to reach highly motivated and engaged 
  women developers in New York and across the country.

%p
  The organizers of 
  %strong Write/Speak/Code 
  are experts in their technology as well as speaking, open source, and thought leadership.
  We are entrepreurs, start-up mavens, corporate leaders, and teachers.
  We represent a variety of langugages and are active both in our respective communities 
  and the broader women in tech community.

%p
  %strong
    %a{ href: 'mailto: sponsor@writespeakcode.com' } Email us
    to learn more about sponsoring this unique event.
