---
title: Sponsor Write/Speak/Code
---

.lead
  Write/Speak/Code is a unique oppurtunity to reach highly motivated and engaged 
  women developers in New York and across the country.

%p
  The organizers of 
  %strong Write/Speak/Code 
  are experts in their technology as well as speaking, open source, and thought leadership.
  We are entrepreurs, start-up mavens, corporate leaders, and teachers.
  We represent a variety of languages and are active both in our respective communities 
  and the broader women in tech community.

%p
  %strong
    %a{ href: 'mailto: sponsor@writespeakcode.com' } Email Chrys Wu
    to learn more about sponsoring this unique event.

%h1 Write/Speak/Code sponsorship levels
%strong $1,000 Sponsorship
%br/
%em Pre-Conference Benefits
%ul
  %li Sponsor designation in emails
  %li
    Logo, company name, link & 50-word description on the
    %a{:href => "http://writespeakcode.com"} WriteSpeakCode website
    sponsor page (description subject to WriteSpeakCode organizer approval)
  %li
    Mentioned by
    %a{:href => "http://twitter.com/writespeakcode"} @WriteSpeakCode
    1x per week in the weeks leading up to the June 20-22, 2013 conference
%em During Conference Benefits
%ul
  %li Logo on on-site sponsor slide (projected all day, each day during the conference)
  %li Mentioned by @Twitter name at start of day, each day (1x total per day, 3x total)
%strong $2,500 Sponsorship
%br/
%em Pre-Conference Benefits
%ul
  %li Sponsor designation in emails
  %li 1 advertising (offer or discount) opportunity in email
  %li
    Logo, company name, link on front page, and same + 100-word description on the
    %a{:href => "http://writespeakcode.com"} WriteSpeakCode website
    sponsor page (description subject to WriteSpeakCode organizer approval)
  %li
    Mentioned by
    %a{:href => "http://twitter.com/writespeakcode"} @WriteSpeakCode
    3x per week in the weeks leading up to the June 20-22, 2013 conference
%em During Conference Benefits
%ul
  %li Logo on on-site sponsor slide (projected all day, each day during the conference)
  %li Mentioned on @WriteSpeakCode by your @Twitter name at start, lunchtime & end of day, each day (3x total per day, 9x total)
  %li Placement of promotional items at the event
%em Post-Conference Benefits
%ul
  %li Personalized message to Write.Speak.Code attendees included in wrap-up email (Up to 200 words)
%strong $5,000 Sponsorship
%br/
%em Pre-Conference Benefits
%ul
  %li Sponsor designation in emails
  %li 1 advertising (offer or discount) opportunity in email
  %li
    Logo, company name, link on front page, and same + 150-word description on the
    %a{:href => "http://writespeakcode.com"} WriteSpeakCode website
    sponsor page (description subject to WriteSpeakCode organizer approval)
  %li
    Logo included on
    %a{:href => "http://twitter.com/writespeakcode"} @WriteSpeakCode
    Twitter page background
  %li
    Mentioned by
    %a{:href => "http://twitter.com/writespeakcode"} @WriteSpeakCode
    5x per week in the weeks leading up to the June 20-22, 2013 conference
%em During Conference Benefits
%ul
  %li Logo on on-site sponsor slide (projected all day, each day during the conference)
  %li Mentioned on @WriteSpeakCode by your @Twitter name at Start, lunchtime & end of day, each day (3x total per day, 9x total)
  %li Placement of promotional items at the event
  %li 10-minute sponsored talk during 1 lunch (Subject to approval by Write.Speak.Code)
%em Post-Conference Benefits
%ul
  %li Personalized message to Write.Speak.Code attendees included in wrap-up email (Up to 200 words)
  %li Opportunity to host or collaborate on an end-of-event party
Interested in other sponsorship levels? Email
%a{:href => "mailto:sponsor@writespeakcode.com"} Chrys Wu
at %a{:href => "mailto:sponsor@writespeakcode.com"}sponsor@writespeakcode.com.
