---
title: Sponsor Write/Speak/Code
---

.lead
  Write/Speak/Code is a unique opportunity to reach
  %br
  %strong highly motivated and experienced women engineers
  %br
  in New York and across the country.

%p
  The organizers of
  %strong Write/Speak/Code
  are experts in their technology as well as speaking, open source, and thought leadership.
  We are entrepreneurs, start-up mavens, corporate leaders, and teachers.
  We represent a variety of languages and are active both in our respective communities
  and the broader women in tech community.

%p
  %a{ href: 'mailto: sponsor@writespeakcode.com' } Email us
  to learn more about sponsoring this unique event.

%hr

%h4 Write/Speak/Code sponsorship

%p
  Write/Speak/Code is a unique event.  Check out our (jam-packed)
  = link_to '2013 schedule', '/2013/'
  to get an idea of what attendees are in for.  Sponsors
  will have the opportunity to get in front of those highly demanded woman developers 
  looking to take their careers to the next level.

%p
  %strong
    1 day event in NYC in fall 2014
  will be a day long workshop of our new, more technical Write day curriculum with 
  an intro to speaking and open source.  Companies have the opportunity 
  to support us with 
  %em space and/or $1-5k in sponsorship.

%p
  %strong
    3 day conference in NYC in spring 2015
  will be an improved version of our 
  = link_to '2013 conference.', '/2013/'
  We will have capacity for 75 experienced woman developers while still maintaining 
  our intensive, high-touch environment and impressive, tangible results.
  Sponsors have the opportunity to support us with $2-10k sponsorship and get their name and faces 
  in front of this unique, highly demanded group of engineers.

%p
  Previous attendees included woman with any where from 2 to 20 years of
  experience as professional developers;
  start-ups to banking; pure HTML/CSS front-end to graduate students in 
  system processing to professional Ruby, Python, Java or Drupal developers.  

%p 
  2013 attendee have gone on to:
  %ul
    %li speak at PyCon
    %li increase their rate by 150%
    %li start empowering meetups
    %li contribute to Django, Julia, and OpenHatch

Interested in other sponsorship levels or an opportunity to host or collaborate 
on an end-of-event party? Email us at
%a{:href => "mailto:sponsor@writespeakcode.com"}sponsor@writespeakcode.com.
