.workshop
  .lead
    %h1  &lt;Own Your Expertise / Workshop&gt; San Francisco!
    %h3 FREE Full-day Intensive for Women Developers
    %p.lead
      October 11, 2014
      %i.icon-star-empty.muted
      Dev Bootcamp SF, 633 Folsom St
      %i.icon-star-empty.muted
      9am-6pm

  %p
    %a.btn.btn-primary.btn-large{ href: 'https://docs.google.com/forms/d/1Vv8SLPs2y3Jdrl0rcnOMkAbbggboIdWTvxlxaAJuYAI/viewform' }
      Register FREE
      %i.icon-double-angle-right

  %p
    %a{ href: "workshop.html" }
      %i.icon-double-angle-left
      Chicago and New York City Workshops

  = partial 'workshop_details'

  %p
    %a{ href: "workshop.html" }
      %i.icon-double-angle-left
      Chicago and New York City Workshops

  %p
    %a.btn.btn-primary.btn-large{ href: 'https://docs.google.com/forms/d/1Vv8SLPs2y3Jdrl0rcnOMkAbbggboIdWTvxlxaAJuYAI/viewform' }
      Register FREE
      %i.icon-double-angle-right
