.workshop
  .lead
    %h1  &lt; Own Your Expertise / Workshop &gt;
    %h3 FREE Full-day Intensive for Women Developers
    %p.lead
      September 13, 2014
      %i.icon-star-empty.muted
      Pivotal Labs NYC, 625 Avenue of the Americas
      %i.icon-star-empty.muted
      10am-6pm

    %p
      %a.btn.btn-primary{ href: "https://docs.google.com/forms/d/1I__gcONUt1CzJsN48taOUC25PEIPVK27bUE0QpF267Q/viewform" }
        Register FREE
        %i.icon-double-angle-right

  .learn_do.hero-unit
    %p.lead
      Solidifying and owning your expertise &mdash; your knowledge and experience &mdash;
      is the foundation of
      %br
      speaking at conferences,
      contributing to open source, and
      %em changing the world!


    %p.milestones
      %strong Learn
      to own your expertise and present yourself and your accomplishments
      with confidence.
      %br
      %strong Convert
      your expertise into thought leadership, conference speaking, and
      open source contributing.

    .learn.day_summary
      %strong.area Learn
      %ul.icons-ul
        %li
          %i.icons-li.icon-plus
          the source of credibility and how to establish it
        %li
          %i.icons-li.icon-plus
          the components of a good argument
        %li
          %i.icons-li.icon-plus
          how to start speaking and contributing to open source

    .icon-bolt.icon-4x.muted

    .do.day_summary
      %strong.area Do
      %ul.icons-ul
        %li
          %i.icons-li.icon-ok
          Impostor Syndrome workshop
        %li
          %i.icons-li.icon-ok
          Generate a list of topics to speak and write about
        %li
          %i.icons-li.icon-ok
          Craft a compelling bio

    %h4.themes
      Create visibility
      %i.icon-star
      Communicate effectively
      %i.icon-star
      Share knowledge


    %p.lead
      This Write/Speak/Code workshop will be an interactive, intense day for
      women software developers to think more fully about our knowledge and experience,
      and why it matters.

    %p.milestones
      %strong Emerge
      with an understanding of how you can immediately contribute to 
      the technical knowledge base.
      %br
      %strong Create
      an action-plan for speaking, contributing to open source, and 
      leveling up your skills.

    %p.lead Ladies &mdash; it's time to represent!

    %p
      %a.btn.btn-primary{ href: "https://docs.google.com/forms/d/1I__gcONUt1CzJsN48taOUC25PEIPVK27bUE0QpF267Q/viewform" }
        Register Now
        %i.icon-double-angle-right
