.workshop
  .lead.btn-force-primary
    %h1  &lt;Own Your Expertise / Workshop&gt; Chicago!
    %h3 FREE Full-day Intensive for Women Developers
    %p.lead
      Early December, 2014
      %i.icon-star-empty.muted
      TDB
      %i.icon-star-empty.muted
      9am-6pm

    %p
      Join our mailing to find out when registration opens!
      = partial 'mailchimp'

  %p
    %a{ href: "workshop.html" }
      %i.icon-double-angle-left
      San Francisco and New York City Workshops

  = partial 'workshop_details'

  %p
    %a{ href: "workshop.html" }
      %i.icon-double-angle-left
      San Francisco and New York City Workshops

  %div
    Join our mailing to find out when registration opens!
    = partial 'mailchimp'
