.workshop
  .lead
    %h1  &lt;Own Your Expertise / Workshop&gt; New York City!
    %h3 FREE Full-day Intensive for Women Developers
    %p.lead
      September 13, 2014
      %i.icon-star-empty.muted
      Pivotal Labs NYC, 625 Avenue of the Americas
      %i.icon-star-empty.muted
      10am-6pm

    %p
      %strong Thank you for a fantastic conference!

    %p
      %a{ href: 'http://pivotallabs.com' }
        = image_tag '/images/sponsors/pivotal-300.png'

  %p
    %a{ href: "workshop.html" }
      %i.icon-double-angle-left
      San Francisco and Chicago Workshops

  = partial 'workshop_details'

  %p
    %a{ href: "workshop.html" }
      %i.icon-double-angle-left
      San Francisco and Chicago Workshops
