.workshop
  .lead
    %h1  &lt;Own Your Expertise / Workshop&gt;
    %h3 FREE Full-day Intensive for Women Developers
    %p.lead
      %a.btn.btn-primary.btn-large{ href: 'workshop-chi.html' }
        %strong Chicago
        &#47; January 11th
        %i.icon-double-angle-right
      %i.icon-star-empty
      %a.btn.btn-info.btn-large{ href: 'workshop-nyc.html' }
        %strong New York City
        &#47; September 13
        %i.icon-double-angle-right
      %i.icon-star-empty
      %a.btn.btn-info.btn-large{ href: 'workshop-sf.html' }
        %strong San Francisco
        &#47; October 11
        %i.icon-double-angle-right

  = partial 'workshop_details'
